@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

/* Header Styling */

header {
  background-color: #4E3D42;
  padding: 2rem 3rem 0rem 3rem;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-left: 2rem;

}

.title h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 3rem;
  font-weight: 100;
  color: white;
  margin: 0;

  cursor: pointer; 
}

.search-bar {
  display: flex;
  align-items: center;

  margin-left: 2rem;
}

.search-bar input {
  background-color: white;
  color: #4E3D42; /* Set text color to brown */
  border: 1px solid; /* Add border with the same color */
  padding: 0rem 1rem;
  font-family: 'Kadwa', serif;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  height: 2.5rem;
  width: 30rem;
}

.search-bar input::placeholder {
  color: #4E3D42; /* Set placeholder text color to brown */
}

.cart {
  height: fit-content;
  padding-top: 0.25rem;
  padding-right: 4rem;
}

.cart-button img {
  height: 2rem; /* Set the height of the image */
  margin-right: 0.5rem; /* Add margin to separate the image from the text */
}

.search-button img {
  height: 2rem; /* Set the height of the image */
  margin: 0rem 0.5rem;
}

/* Add button styling */
button,
.cart-button,
.search-button {
  height: 2.57rem;
  background-color: white;
  color: #4E3D42;
  border: 1px solid;
  padding: 0rem 0.5rem;
  font-family: 'Kadwa', sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 0.5rem;

  display: flex;
  align-items: center; /* Align items vertically */
  cursor: pointer;
}

/* Add hover effect to buttons */
button:hover,
.cart-button:hover,
.search-button:hover,
button:active,
.cart-button:active,
.search-button:active {
  background-color: #84957E; /* Change background color on hover */
  color: white;
  border: 2px solid white;
}


.categories {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around; /* Evenly space items */
  width: 100%; /* Take full width of the header */
}

.categories .category{
  font-family: 'Kadwa', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: underline; /* Add underline */
  cursor: pointer; 
  margin: 0 1rem;

  display: flex; 
  align-items: baseline; 
}


.categories .category:hover,
.categories .category:active {
  color:#84957E
}

.categories .category:hover img, /* Change color on hover */
.categories .category:active img { /* Change color when clicked */
  filter: invert(58%) sepia(3%) saturate(1487%) hue-rotate(59deg) brightness(125%) contrast(91%);
}

.categories .category img {
  transform: translateY(15%);
  height: 1rem; /* Set the height of the image */
  margin-left: 2px;
}


/* Section 1 Styling */

.section-1 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 4rem 0;
}

.forms {
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center */
  flex-direction: column;
  margin-top: -2rem;
}

.forms h2 {
  font-family: 'Kadwa', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4E3D42;
  text-decoration: underline; /* Add underline */
  cursor: pointer; 
  align-self: flex-start; /* Right-align the heading */

  margin-left: 2rem;
  margin-bottom: 0rem;
}

.forms h2:hover,
.forms h2:active {
  color:#84957E
}

.forms h2 img {
  transform: translateY(15%);
  height: 1.5rem; /* Set the height of the image */
  margin-right: 7px;

  filter: invert(24%) sepia(5%) saturate(1743%) hue-rotate(292deg) brightness(80%) contrast(88%);
}

.forms h2:hover img, /* Change color on hover */
.forms h2:active img { /* Change color when clicked */
  filter: invert(58%) sepia(3%) saturate(1487%) hue-rotate(59deg) brightness(100%) contrast(91%);
}

.video {
  padding: 10px; /* Adjust the value as needed */
  border: 1px solid #4E3D42;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center */
}

.video iframe {
  border: 1px solid #4E3D42;
  cursor: pointer; 
}

/* Section 2 Styling */

.section-2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 7rem 0rem;
  background-color: #84957E
}

.section-2 .forms h2 {
  font-family: 'Kadwa', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;

  margin-left: -1rem;
  margin-bottom: 0rem;
}

.section-2 h2:hover,
.section-2 h2:active {
  color:white;
}

.section-2 img {
  margin-left: -1.5rem;
  height:25rem; /* Set the height of the image */
}

/* Section 3 Styling */

.section-3 {
  background-color: #E3DBDB;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem 5rem;
}

.section-3 h2 {
  font-family: 'Kadwa', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #4E3D42;

  margin: 0rem;
}

.section-3 h3 {
  font-family: 'Kadwa', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4E3D42;
  line-height: 1.5; /* Adjust the line height for paragraph spacing */

  padding: 0rem 9rem;
}

.see-more {
  text-decoration: underline; /* Add underline to the text */
  cursor: pointer; 
}

.see-more img {
  height: 1rem; /* Set the height of the image */
  margin-left: 2px;

  filter: invert(24%) sepia(5%) saturate(1743%) hue-rotate(292deg) brightness(80%) contrast(88%);
}

.see-more:hover img, /* Change color on hover */
.see-more:active img { /* Change color when clicked */
  filter: invert(58%) sepia(3%) saturate(1487%) hue-rotate(59deg) brightness(100%) contrast(91%);
}

.see-more:hover, /* Change color on hover */
.see-more:active {
  color: #84957E;
}

/* Section 4 Styling */

.section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4rem 5rem;
}

.section-4 h2 {
  font-family: 'Kadwa', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #4E3D42;

  margin: 0rem;
}
.staff {
  display: flex;
  flex-direction: column;
  padding: 0 10rem;
}

.staff-member {
  display: flex;
  margin: 2rem 0;
}

.staff-image {
  padding: 5px; /* Adjust the value as needed */
  border: 1px solid #4E3D42;
  display: flex;
  justify-content: center;
  align-items: center; /* Vertically center */
  height: fit-content;

  transform: translateY(5%);
  margin-right: 1rem;
  }

.staff-image img {
  height: 20rem;
}

.staff-info {
  flex: 1; /* Take up remaining space */
  padding-left: 2rem;
}

.staff-info h3 {
  font-family: 'Kadwa', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #4E3D42;

  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.staff-info p {
  font-family: 'Kadwa', sans-serif;
  font-size: 1.1rem;
  color: #4E3D42;
  line-height: 1.5; /* Adjust the line height for paragraph spacing */

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.staff-info .days-of-week{
  display: inline;
}

.staff-info p .label {
  color: #84957E;
  font-size: 1.1rem;
  font-weight: bold;
}

/* Footer Styling */

footer {
  background-color: #4E3D42;
  padding: 1rem 3rem 0.2rem 3rem;
}

.additional-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: flex-start; /* Align items to the start of the container */
  padding: 2rem 15rem;
}

.get-in-touch,
.newsletter {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  width: 27rem;
}

.get-in-touch h3,
.newsletter h3 {
  font-family: 'Kadwa', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.get-in-touch p,
.newsletter p {
  font-family: 'Kadwa', sans-serif;
  font-size: 1.1rem;
  font-weight: normal;
  color: white;
  margin-top: -1rem;
}

.newsletter p {
  margin-top: -0.5rem;
}

.get-in-touch p a {
  color: white;
  text-decoration: underline;
}

.get-in-touch p a:hover,
.get-in-touch p al:active {
  color:#84957E;
}

.newsletter .sign-up {
  display: flex;
  flex-direction: row;
  padding-top: 0;
  margin-top: 0.2rem;
}

.newsletter input {
  background-color: white;
  color: #4E3D42; /* Set text color to brown */
  border: 1px solid; /* Add border with the same color */
  padding: 0rem 1rem;
  font-family: 'Kadwa', serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  height: 2rem;
  width: 17rem;
}

.newsletter input::placeholder {
  color: #4E3D42; /* Set placeholder text color to brown */
}

.sign-up-button {
  height: 2.11rem;
  background-color: white;
  color: #4E3D42;
  border: 1px solid;
  padding: 0rem 0.5rem;
  font-family: 'Kadwa', sans-serif;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 0.5rem;

  display: flex;
  align-items: center; /* Align items vertically */
  cursor: pointer;
}

.sign-up-button:hover,
.sign-up-button:active {
  background-color: #84957E; /* Change background color on hover */
  color: white;
  border: 2px solid white;
}

.socials-divider {
  width: 90%;
  margin: 0 auto; 
  border: none; 
  border-top: 1px solid white;
}

.socials {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: center;
}

.socials img {
  cursor: pointer;
  height: 2.2rem;
  padding: 1rem 0.5rem 0.3rem 0.5rem;
}

.copyright-divider {
  width: 107%; /* Ensure the divider spans the entire width */
  margin-left: -3rem; 
  padding: 0; 
  border: none; 
  border-top: 1px solid white;
}

.copyright-info {
  display: flex;
  align-items: center; /* Align items vertically */
  flex-direction: row;
  justify-content: space-evenly;

}

.copyright-info p {
  font-family: 'Kadwa', sans-serif;
  font-size: 1.1rem;
  color: white;
}

.copyright-info img {
  height: 3.2rem;
}