@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kadwa&display=swap');

header {
  background-color: #4E3D42;
  padding: 1rem 3rem 0rem 3rem;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  font-family: 'Leckerli One', cursive;
  font-size: 3rem;
  font-weight: 100;
  color: white;
  margin: 0;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  background-color: white;
  color: #4E3D42; /* Set text color to brown */
  border: 1px solid; /* Add border with the same color */
  padding: 0rem 1rem;
  font-family: 'Kadwa', serif;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  height: 2.5rem;
  width: 30rem;
}

.search-bar input::placeholder {
  color: #4E3D42; /* Set placeholder text color to brown */
}

.cart {
  height: fit-content;
  padding-top: 0.25rem;
  padding-right: 7rem;
}

/* Add button styling */
button,
.cart-button,
.search-button {
  height: 2.57rem;
  background-color: white;
  color: #4E3D42;
  border: 1px solid;
  padding: 0rem 1rem;
  font-family: 'Kadwa', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
  margin-left: 0.5rem;
}

/* Add hover effect to buttons */
button:hover,
.cart-button:hover,
.search-button:hover {
  background-color: #84957E; /* Change background color on hover */
  color: white;
  border: 2px solid white;
}

/* Add active effect to buttons */
button:active,
.cart-button:active,
.search-button:active {
  background-color: #84957E; /* Change background color when clicked */
  color: white;
  border: 2px solid white;
}

/* Add cursor pointer to indicate clickable */
button,
.cart-button,
.search-button {
  cursor: pointer;
}


.categories {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around; /* Evenly space items */
  width: 100%; /* Take full width of the header */
}


.categories .category {
  font-family: 'Kadwa', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-decoration: underline; /* Add underline */
  margin: 0 1rem;
}